li{
    font-size: larger;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: rgb(19, 14, 22);
    font-weight: 600;
    padding: 15px;
    transition: 0.2s;
    width: 200px;
    font-size: x-large;
    color:white;
    margin-inline: auto;
}
li:hover{
    transform: scale(1.1);
}
ul{
    margin-inline: auto;
    text-align: center;
    padding: 0px;
    list-style: none;
}