.navbar-container{
    font-weight: 400;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    background-color: rgb(19, 14, 22);
    color:white;
    text-decoration: none;
    height: 100%;
    margin-bottom: 20px;
    justify-content: center;
}
.navbar-button{
    font-size: larger;
    padding: 10px;
    border-radius: 0%;
}
.navbar-link-container{
    color: white;
    padding: 15px;
}
.active{
    font-weight: 700;

}